body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #557dd3;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start; 
}

#formulario-metas {
    flex: 1 1 320px; 
    min-width: 260px; 
    max-width: 480px; 
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

#adicionar-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
}
#lista-metas{
    max-width: 900px;
    width: 100%;
    color: #f8f8f8;
   background: #1f96db;
background: linear-gradient(237deg, rgba(31, 150, 219, 0.9) 1%, rgba(110, 110, 110, 0.81) 52%, rgba(30, 66, 240, 0.89) 99%, rgba(33, 63, 209, 1) 100%);
    padding: 20px;
    border-radius: 8px;
    margin-top: 12px; 
}
#adicionar-btn:hover {
    background-color: #083b70;
}
.concluir{
background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
}
.remover{
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
}
.meta-actions button {
    margin-left: 10px;
    padding: 8px 12px;
    border: none;
     height: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.concluir-btn {
    background-color: #4CAF50;
}

.remover-btn {
    background-color: #dc3545;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
